*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Pragmatica-Light;
    color:white;
    display: flex;
    height: 100%;
    min-height: 100vh;
    background-color: black;
    overflow: hidden;
    /* border: solid 2px red; */
}

/**** layout ****/
.closeImg {
    position: fixed;
    top: 45px;
    right: 85px;
    max-width: 20px;
    z-index:20;
}

main {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    /* border: solid 2px orange; */

}

/*tiene las dos fotos*/
.slider { 
    margin: 0 auto;
    height: 90%;
    width: 90%;
    top: 20px;
    position: relative;
    overflow: hidden;
    /* overflow-x: hidden;
    overflow-y: hidden; */
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
    /* border: solid 2px blue; */


  }
  .slider__dot {
    width: 16px;
    height: 16px;
    margin: 2rem 16px;
    border-radius: 50%;
    z-index: 10;
    background-color: #ccc;
    outline: 8px solid #ccc;
    outline-offset: -8px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .slider__dot:checked {
    background-color: #333;
    -webkit-animation: check 0.5s linear forwards;
            animation: check 0.5s linear forwards;
  }
  .slider__dot:checked:nth-of-type(1) ~ .slider__inner {
    transform: translateX(0%); /*translada a la primera foto*/
  }
  .slider__dot:checked:nth-of-type(2) ~ .slider__inner {
    transform: translateX(-50%); /*translada a la segunda foto*/
  }
  .slider__inner {
    /* background-color: grey; */
    position: absolute;
    top: 0;
    left: 0;
    width: 200%; /*ancho que translada??*/
    height: 100%;
    transition: all 1s ease-out; /*efecto de transicion*/
    display: flex;
    /* border: solid 2px rgb(255, 192, 248); */
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .slider__body {
    width: 100%;
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    /* border: solid 2px cyan; */

  }
  .slider__image {
    width: 100%; /*este es el ancho que ocupa la imagen adentro del slider, si es <100% deja espacioentre las imagenes*/
    /* min-height: 300px; */
     /* probe el tamaño real de la imagen pero tampoco anda*/
     /* border: solid 2px green; */
     height: fit-content;

  }

  @-webkit-keyframes check {
    50% {
      outline-color: #333;
      box-shadow: 0 0 0 16px #333, 0 0 0 48px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #333;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }

  @keyframes check {
    50% {
      outline-color: #333;
      box-shadow: 0 0 0 16px #333, 0 0 0 48px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #333;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }
