*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: Pragmatica-Light;
    src: url("/fonts/Pragmatica-Light_36332.ttf");
}
@font-face {
    font-family: Pragmatica-Bold;
    src: url("/fonts/Pragmatica-Bold_36314.ttf");
}
@font-face {
    font-family: Pragmatica-ExtraBold;
    src: url("/fonts/Pragmatica-ExtraBold_36320.ttf");
}
@font-face {
    font-family: Pragmatica-ExtraLight;
    src: url("/fonts/Pragmatica-ExtraLight_36322.ttf");
}
@font-face {
    font-family: Pragmatica-ExtraLight-Oblique;
    src: url("/fonts/Pragmatica-ExtraLight-Oblique_36321.ttf");
}
@font-face {
    font-family: Pragmatica-Medium;
    src: url("/fonts/Pragmatica-Medium_36334.ttf");

}

body {
    color:white;
    font-family: Pragmatica-Light;
    text-align: center;

    display: flex;
    flex-direction: column;
    
    min-height: 100vh; /* (mal:provoca scroll, 100% deja blanco abajo) */
    border: 5px solid red;

}

#home {
    background-image: url("/img/mobileHome.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
}

#info {
    background-color: #AFCBCD;
}

#menu{
    background-color: #AFCBCD;
}

#contacto{
    background-color: #94AB9B;
}

h1 {
    font-family: Pragmatica-Light;
    font-size: 26px;
}

p {
    font-family: Pragmatica-ExtraLight;
    font-size: 18px;
}

a:link {
    text-decoration:none;
}


/****** Barra header *****/

.desktop {
    display:none;
}

header {
    height: 10vh;
    border: 5px solid blue;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
}

.logoHaizea {
    width: 20%;
}

.hambImg {
    width: 7%;
}

.closeImg {
    width: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.close{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* home */
.mainContainer {
    display:flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;

    font-size: xx-large;
}

/* menu */
.menu{
    list-style: none;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    text-align: center;
    min-height: 90%;
}

/* info */
.imgInfo {
    width: 100%;
}

.infoContainer {
    position:fixed;
    top: 10%;
    height: 80%;
    width: 85%;
    overflow: scroll;
}

.infoText {
    margin-top: 10px;
    margin-bottom: 10px;
}

.infoContainer p {
    text-align: left;
}

/* contacto */
.contactoContainer {
    position:fixed;
    top: 10%;
    height: 80%;
    width: 85%;
}

.contactoContainer p {
    font-family: Pragmatica-ExtraLight;
    font-size: 14px;
    text-align: left;
}

.contactoContainer span {
    font-family: Pragmatica-ExtraLight-Oblique;
    font-size: 14px;
    text-align: left;
}

.contactoContainer form {
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;

}

.contactoContainer input {
    background-color:rgba(0, 0, 0, 0);
    width: 100%;
    border:none;
    border-bottom: 1px solid white;
    padding: 5px 10px;
    outline: none;
}

.contactoContainer button {
    background-color:rgba(0, 0, 0, 0);
    outline: none;
}

/* footer */
footer {
    border: 5px solid green;
    height: 10vh;
    position: relative;
    color: white;

}

.infolink {
    position: absolute;
    bottom: 2em;
    left: 1em;
}

.reservalink {
    position: absolute;
    bottom: 2em;
    right: 1em; /*calc ancho imagen*/

}

footer a {
    font-family: Pragmatica-ExtraLight;
    font-size: 14px;
    color:white;
}


/* *** desktop layout  *** */
@media only screen and (min-width:480px) {

    .mobile {
        display: none;
    }
    
    #home {
        background-image: url("/img/desktopHome.JPG");
        background-repeat: no-repeat;
        background-size:cover;
    }

    /* body {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh-20px-20px); 
        margin-bottom: 2em;
    } */

    .headerDesktop {
        font-family: Pragmatica-ExtraLight;
        display: flex;
        justify-content: space-between;
        align-items: start;
        height: 20px;
    }

    .footerDesktop {
        color: white;
        margin-top: auto;
    
    }
    
    .pepe{
        height: 200px;
    }
    /* .barOnBottomDesk {
        font-family: Pragmatica-ExtraLight;
        display: flex;
        justify-content: space-between;
    } */
    /* .footerDesktop {
         margin-top: auto;  
         height: 20px;    
    } */

}