*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.cdnfonts.com/css/pragmatica-extralight');

/**** fonts ****/
@font-face {
    font-family:'PragmaticaBook', sans-serif;
    src: url("../fonts/PragmaticaBook.otf");
}
@font-face {
    font-family:'Svn-Miller', sans-serif;
    src: url("../fonts/SVN-Miller_Banner.ttf");
}
@font-face {
    font-family:'Pragmatica-Light', sans-serif;
    src: url("../fonts/Pragmatica-Light_36332.ttf");
}
@font-face {
    font-family: 'Pragmatica-Bold', sans-serif;
    src: url("../fonts/Pragmatica-Bold_36314.ttf");
}
@font-face {
    font-family:'Pragmatica-ExtraBold', sans-serif;
    src: url("../fonts/Pragmatica-ExtraBold_36320.ttf");
}
@font-face {
    font-family: 'Pragmatica ExtraLight', sans-serif;
    src: url("../fonts/Pragmatica-ExtraLight_36322.ttf");
}
@font-face {
    font-family:'Pragmatica-ExtraLight-Oblique', sans-serif;
    src: url("../fonts/Pragmatica-ExtraLight-Oblique_36321.ttf");
}
@font-face {
    font-family:'Pragmatica-Medium', sans-serif;
    src: url("../fonts/Pragmatica-Medium_36334.ttf");

}

body {
    font-family: Pragmatica-Light;
    color:white;
    display: flex;
    height: 100%;
    min-height: 100vh;
}

/**** layout ****/
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding: 1em;
}

main {
    position: absolute;
    top: 70px;
    bottom: 70px;
    left: 0;
    right: 0;
    padding: 1em;

}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding: 1em;

}

/**** backgrounds ****/
#home {
    background-image: url("../img/mobileHome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#info {
    background-color: #AFCBCD;
}

#menu {
    background-color: #AFCBCD;
}

#contacto {
    background-color: #94AB9B;
}

#fullScrImg {
    background-color: black;

}
/**** links de navegación ****/

.navlinkLeft{
    font-family: 'Pragmatica ExtraLight', sans-serif;
    font-size: 15px;
    margin-left: 15px;
    width: 70px;
}

.navlinkRight{
    font-family: 'Pragmatica ExtraLight', sans-serif;
    font-size: 15px;
    margin-right: 15px;
    width: 70px;
}

.desktop {
    display:none;
}


/**** generales ****/
h1 {
    font-family: 'Pragmatica ExtraLight', sans-serif;
    font-size: 20px;
}

h2 {
    font-family: Svn-Miller, serif;
    font-weight: 300;
}

h3 {
    font-family: 'Pragmatica ExtraLight', sans-serif;
    font-weight: 100;
}

p {
    font-family: 'Pragmatica ExtraLight', sans-serif;
    font-size: 12px;
    color: white;
    margin-top: 4px;
}

a {
    color: white;
}

a:link {
    text-decoration:none;
    color:white;
}


/****** header *****/
.headerMobile {
    display: flex;
    flex-direction: column;
}

.logoHImg {
    width: 30%;
    /* position: absolute;
    top:5px;
    left: 0px; */
}

.hambImg {
    position: fixed;
    top:30px;
    right: 20px;
    width: 20px;
    margin-bottom: 0px;
}

.closeImg {
    width: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.close{
    position: fixed;
    top:10px;
    right: 20px;
    /* display: flex;
    justify-content: flex-end;
    padding-bottom: 0;
    margin-bottom: 0; */
}

/* home */
.subContainer{
        position:fixed;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
}
.menu{
    font-size: 20px;
    list-style: none;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align: center;
    min-height: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* info */

.InfoPhotosMobile img {
    width: 100%;
}

.infoContainer {
    overflow-y: scroll;
}

.infoContainer p {
    font-family: Svn-Miller;
    text-align: left;
    font-size: 11px;
}

.infoTextMobile {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 15px;
}

.infoTextMobile p {
    font-family: Svn-Miller;
    font-size: 11px;
}

.InfoPhotosMobile {
    width: 100%;
}

/* contacto */
.contactoContainer {
    overflow: hidden;
}

.contactoContainer p {
    font-family: Svn-Miller;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
}

.contactoContainer span {
    font-family: Svn-Miller;
    font-style: italic;
    font-size: 12px;
    text-align: left;
}

.contactoContainer label {
    font-size: 12px;
    text-align: left;
}

.contactoContainer form {
    margin-right: 15px;
    font-family: Svn-Miller;
    font-size: 12px;
    text-align: left;
    margin-top: 25px;
    margin-left:15px;
}

.contactoContainer input {
    background-color:rgba(0, 0, 0, 0);
    width: 100%;
    border:none;
    border-bottom: 1px solid white;
    padding: 5px 10px;
    outline: none;
    color: white;
}

.contactoContainer textarea {
    margin-top: 5px;
    font-family: Svn-Miller;
    background-color:rgba(0, 0, 0, 0);
    width: 100%;
    height: 50px;
    max-height: 100px;
    border: 1px solid white;
    padding: 5px 10px;
    outline: none;
    color: white;
    overflow-y: auto
}

#sendEmail {
    text-align: left;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    margin-bottom: 10px;
}

/* footer */
.footer {
    position: relative;
    color:white;
}

footer p {
    font-family: Svn-Miller;
    font-size: 13px;
    color: white;
    margin-top: 0px;
}

.infolink {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.reservalink {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

/* *** desktop layout  *** */
@media only screen and (min-width:480px) {

    .mobile {
        display: none;
    }

    .desktop {
        display:flex;
    }

    #home {
        background-image: url("../img/desktopHome.jpg");
        background-repeat: no-repeat;
        background-size:cover;
    }

    header {
        height:50px;

    }

    footer {
        height:100px;

    }

    main {
        top: 50px;
        bottom: 100px;

    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 50px;
    }

    h3 {
        font-size: 45px;
    }

    .headerDesktop {
        font-family: PragmaticaBook;
        display: flex;
        justify-content: space-between;
        align-items:flex-start ;
    }

    .logoHaizeaHotel{
        width: 30%;
    }

    .centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .infoContainer {
        display: flex;
        justify-content: space-between;
        margin-left: 15px;
        margin-right: 15px;
        overflow: hidden;
        align-items: flex-start;
    }

    .infoTextDesktop {
        min-width: 250px;
        display:block;
        width: 40%;
        padding-right: 35px;
        font-size: 16px;
    }

    .InfoPhotosDesktop {
        width: 60%;
    }

    .footerDesktop {
        font-family: PragmaticaBook;
        font-size: 35pt;
        color: white;
        justify-content: space-between;
        align-items: flex-end;
    }

    .address{
        text-align: center;
    }

    .address p {
        font-size: 14px;
    }

    .InfoPhotos {
        width: 60%;
        overflow-y: hidden;
    }

    .contactoContainer {
        display: flex;
        align-items: flex-start;
    }

    .contactLeft {
        width: 100%;
        padding-right: 30px;
    }

    .contactRightDesk {
        display: block;
        width: 100%;
        padding-left: 30px;
    }

        /* aspecto barra scroll */
    .infoContainer::-webkit-scrollbar {
        width: 2px;
      }

      .infoContainer::-webkit-scrollbar-track {
        background: #eaeaea;
        border-radius: 0.8px;
      }

      .infoContainer::-webkit-scrollbar-thumb {
        border-radius: 1px;
        background: rgb(187, 187, 187);
      }

    /**** slider ****/
/* .sliderContainer {
    width: 50%;  /* Ajustar al ancho de la img 
} */

.slider { /*tiene las dos fotos*/
    min-height: 55vh ;
    width: 55%;
    min-width: 700px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
  }
  .slider__dot {
    width: 16px;
    height: 16px;
    margin: 2rem 16px;
    border-radius: 50%;
    z-index: 10;
    background-color: #ccc;
    outline: 8px solid #ccc;
    outline-offset: -8px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .slider__dot:checked {
    background-color: #333;
    -webkit-animation: check 0.5s linear forwards;
            animation: check 0.5s linear forwards;
  }
  .slider__dot:checked:nth-of-type(1) ~ .slider__inner {
    transform: translateX(0%); /*translada a la primera foto*/
  }
  .slider__dot:checked:nth-of-type(2) ~ .slider__inner {
    transform: translateX(-50%); /*translada a la segunda foto*/
  }
  .slider__inner {
    /* background-color: grey; */
    position: absolute;
    top: 0;
    left: 0;
    width: 200%; /*ancho que translada??*/
    height: 100%;
    transition: all 1s ease-out; /*efecto de transicion*/
    display: flex;
    /* flex-flow: row nowrap; */
  }
  .slider__body {
    width: 100%;
    display: flex;
    /* flex: 1; */
    /* flex-flow: column nowrap; */
    align-items: flex-start;
    justify-content: center;
  }
  .slider__image {
    width: 100%;
    min-height: 300px;
  }

  @-webkit-keyframes check {
    50% {
      outline-color: #333;
      box-shadow: 0 0 0 16px #333, 0 0 0 48px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #333;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }

  @keyframes check {
    50% {
      outline-color: #333;
      box-shadow: 0 0 0 16px #333, 0 0 0 48px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #333;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }

/* slider en pantalla completa */

.sliderFullscreen {
    position: fixed;
    top: 70px;
    left: 2%;
    width: 96%;
    height: 70%;
    z-index: 30;
    /* overflow: hidden; */
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;

}

/* .fullscreen .slider__inner {
    width: 100%;
    height: 100%;
    border: none;
} */

/* .fullscreen.show {
    display: inherit;
} */ 


}